# Ignore virtual environments
WVenv/

# Ignore CSV data exports
*.csv
GAD2/
device_fill_level/
tardif_data/

# Ignore IDE settings
.vscode/
__pycache__/

pandasai.log

# Ignore large files
*.so
*.db
*.sqlite
*.bin
*.pkl
*.parquet

# Ignore vector store
chroma_location_embeddings/

# Ignore temp files
*.tmp
temp/
