langchain==1.2.0
langchain_chroma==1.1.0
langchain_community==0.4.1
langchain_core==1.2.1
langchain_ollama==1.0.1
pandas==2.3.3
pandasai==3.0.0
pandasai_litellm==0.0.1
streamlit==1.52.1
ollama==0.13.0
